.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  max-height: 42px;
}

.column {
  margin: 5px;
}

.columnSides {
}

.input {
  max-width: 50px;
  min-width: 50px;
}

.button {
  margin: 0 50px;
}

.bottomRow {
  margin-bottom: 10px;
}